
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
/*font-family: 'Nunito Sans', sans-serif;*/

body {
    margin: 7px 7px 7px 7px;
    background: url('../images/cloudy day_flower.jpg') no-repeat center center fixed;
    background-size: auto;
    font-family: "Nunito Sans", sans-serif;
}

header {
    background-color: #fefefe;
    border: 2px solid black;
    padding: 5px;
    color: darkslategray;
    font-family: "Nunito Sans", sans-serif;
}

    header h1, header p {
        margin: 10px 0 10px 125px;
    }

main {
    background-color: rgba(211,211,211, .75);
    background-size: auto;
    border: 2px solid, black;
    padding: 4px 6px 4px 6px;
    display: inline-block;
    min-width:99%;
}

h1 {
    text-align: justify;
    color: darkslategrey;
    font-size: 40px;
}

#headerNav {
    margin-top: 10px;

}
#headerNav ul li a.active-page {
    background-color:lightgray;
}



ul#horizontalList {
    min-width: 500px;
    list-style: none;
    padding-top: 7px;
    padding-bottom: 1px;
    width: auto;
    height: auto;
    border-top: 2px solid black;
    margin-bottom: 0px;
    margin-top: 2px;

}

    ul#horizontalList li {
        display: inline;
        justify-content: flex-start;
        padding: 0 30px 0 30px;
    }

        ul#horizontalList li a {
            text-decoration: none;
        }

    ul#horizontalList a:hover, ul#horizontalList a:active, ul#horizontalList a:focus {
        background-color: ghostwhite;
        color: blue;
        text-decoration: underline;
    }

.headingStyle {
    text-align: center;
    color: black;
}

.footerList {
    border: 2px solid black;
    padding: 15px;
    background-color: rgba(211,211,211, .65);
}

.rights {
    text-align: left;
}

/*.copy {
    text-align: right;
    float: right;
}*/
.contactList {
    text-align: center;
    padding: 30px 250px 50px 250px;

}

    .contactList a:visited a:hover a:active :focus {
        color: darkblue;
    }

    .contactList div {
        margin: 10px 10px 0 0;
        padding: 10px;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

#headerOverlay {
    background-image: url('../images/BBF Logo.PNG');
    background-repeat: no-repeat;
    background-size: 123px;
    background-position: 2% inherit;
    padding: 1em 1em 0;
}

.socialLinks {
    text-align: right;
    display: block;
    float: right;
}

    .socialLinks a {
        padding-right: 15px;
        text-decoration: none;
    }

#teamLeftColumn {
    width: 77%;
    border-right: 2px solid black;
}

    #teamLeftColumn h2 {
        text-align: center;
        font: bold;
    }

#teamRightColumn {
    float: right;
    width: 23%
}

    #teamRightColumn h2 {
        text-align: center;
        font: bold;
    }

    #teamRightColumn ul li {
        padding: 5px 0 5px 0;
        text-decoration: none;
    }

#leadershipList img {
    border-radius: 50%;
}

#teamRightColumn ul li a:hover, a:active, a:focus {
    color: blue;
    text-decoration: underline;
}

#teamRightColumn a {
    text-decoration: none;
}

#leadershipList {
    padding-top: 0;
    display: inline-block;
}

    #leadershipList p {
        text-align: justify;
        font-size: 22px;
    }

    #leadershipList h3 {
        margin: 3px;
        display: block
    }

.leadershipDescription {
    margin: 10px;
    float: right;
}

    .leadershipDescription img {
        float: left;
        padding-right: 12px;
    }

.indexAbout h2 {
    text-decoration: underline;
}

.indexAbout img {
    float: left;
    padding-right: 10px;
    padding-top: 15px;
}

.indexAbout {
    margin-left: 15px;
    float: right;
}

#indexOffset {

}

    #indexOffset h3 {
        text-align: center;
        font-size: large;
    }

    /*#indexOffset section {
        width: 95%;
        margin: 0;
    }*/

    #indexOffset h2 {
        text-align: center;
    }
#indexTractor img {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
    width: 50%;
    height: 40%;
}
#indexTractor h3 p {
    float: right;
}

#indexPig {
    float: right;
    margin-left: 20px;
}
#indexPig h3 {
 
}
#indexPig img {
    float:right;
    margin:15px;
    width: 50%;
    height: 40%;
}

#eddieTractor {
 margin-bottom: 15px;
 margin-left: 15px;
    float: left;
}

.clear {
    clear: both;
}
.mainWrap h1 {
    text-align: center;
}

.cardSet {
    display:grid;
    margin:auto;
    justify-content:center;
}
.classCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin:auto;

}
.card {
    margin:15px;
    border: 3px solid black;
}

.card:hover {
    border-color: purple;
}
.description {
    width: 235px;
    height: 180px;

}
.description h4 {
    margin:4px 0 4px 0;
}
.description p {
    margin-top: 2px;

}
table, tr, td, th {

    border-collapse: collapse;
}
thead {
    background-color: gray;
}
table {
    margin:auto;
    text-align: center;
    margin-bottom: 2em;
}
td, th {
    font-size: 1.25em;
    padding: .3em;
    font: bold;
}
tbody tr:nth-child(even) {
    background-color:darkgray;

}
tbody tr:nth-child(odd) {
    background-color: floralwhite;
}
tfoot {
    background-color: gray;
}
/****Admin Side Nav****/
.sidenav {
    height: 100%;
    width: 0; /*how we hide it from view*/
    position: fixed;
    z-index: 1030; /*how elements are layered on eachother on the screen. to make sure it hidden give it a low z-index like 0 or even a neg numb*/
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.9);
    overflow-x: hidden; /*x y axis*/
    padding-top: 100px;
    transition: .5s; /*graduatal change in width from 0 (hidden) to visible*/
}

    .sidenav a {
        padding: 8px, 8px, 8px, 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: .3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

.close-btn {
    position: absolute;
    top: 50px;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

.button {
    font-family: sans-serif;
    background: rgba(0,0,0,.5);
    height: 100%;
    width: 20px;
    z-index: 1030;
    position: fixed;
    left: 0;
    top: 0;
    cursor: pointer;
}

.vertical-text {
    position: absolute;
    top: 45%;
    left: 0;
    writing-mode: vertical-lr;
    color: white;
    font-weight: bold;
}