body {
    margin: 7px 7px 7px 7px;

}

header {
    background-color: lightgray;
    border: 2px solid black;
    padding: 5px;
    color: darkgreen;
}

main {
    background-image: url('../images/cloudy day_flower.jpg') !important;
    background-color: #cccccc;
    border: 2px solid, black;
    padding: 4px 6px 4px 6px;
}

h1 {
    color: black;
    font-size: 30px;
}

ul#horizontalList {
    min-width: 500px;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 12px;
    width: auto;
    height: auto;
    border: 2px solid black;
    background-color: lightblue;
}

    ul#horizontalList li {
        display: inline;
        text-decoration: none;
        justify-content: flex-start;
        padding: 30px;
    }

    ul#horizontalList a:hover, ul#horizontalList a:active, ul#horizontalList a:focus {
        background-color: ghostwhite;
        color: blue;
    }
.footerList {
    border: 2px solid black;
    padding: 15px;
}

.rights {
    text-align: left;
}

.copy {
    text-align: right;
    float: right;
}
    /*
nav a {
    font-weight: bold;
    color: black;
}

nav a:hover, nav a:active, nav a:focus {
    text-decoration: none;
}

nav ul {
    background-color: steelblue;
    padding: 0;
    border-top: 2px dotted steelblue;
    border-bottom: 2px dotted steelblue;
}

nav li:hover {
    background-color: blue;
    color: white;
}

nav ul li a {
    padding: .4em 1em;
    list-style: none;
}
        */