body {

}

header {
    background-color: lightgray;
}

main {
    background-color: lightgray;
}

h1 {
    color: black;
    font-size: 30px;
}
ul#horizontal-list {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
}

    ul#horizontal-list li {
        display: inline;
    }