body {
}

header {
    background-color: lightgray;
    border: 2px solid black;
    padding: 5px;
    color: darkgreen;
}

main {
    background-color: rgb(180,132,132);
    border: 2px solid, black;
    padding: 4px 6px 4px 6px;
}

h1 {
    color: black;
    font-size: 30px;
}

ul#horizontalList {
    min-width: 500px;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 12px;
    width: auto;
    height: auto;
    border: 2px solid black;
    background-color: lightblue;
}

    ul#horizontalList li {
        display: inline;
        text-decoration: none;
        justify-content: flex-start;
        padding: 30px;
    }

    ul#horizontalList a:hover, ul#horizontalList a:active, ul#horizontalList a:focus {
        background-color: ghostwhite;
        color: blue;
    }
.footerList {
    border: 2px solid black;
    padding: 15px;
}

.rights {
    text-align: left;
}

.copy {
    text-align: right;
    float: right;
}

.departmentList {
    float:right;

 }